@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "First Page");
}

<!-- indicate that the following code/html will go into the
     specified section-->
@section banner{
    <h1><u>Hello World</u></h1>
}

<!-- default body area-->
<blockquote>this is simple text for an html page</blockquote>

