@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "DDL MultiRecord Query");

    var db = Database.Open("NWDB");
    var sqlcommand = @"SELECT CategoryID, CategoryName
                FROM Categories
                ORDER BY CategoryName";
    var catinfo = db.Query(sqlcommand);

}
@section banner{
    <h1>DropdownList Selection Query</h1>
}

@if (IsPost)
{
    //obtain the selected choice
    var choice = Request.Form["CategoryList"];

    //is the choice the prompt?
    if (choice.Equals("0"))
    {
        //   yes: message to user
        <p style="color:darkslateblue">Select a choice from the list to view the category projects.</p>
    }
    else
    {
        //   no:
        //  create a query to search the Products for records with categoryid choice
        var productquery = @"SELECT ProductID
                FROM Products
                WHERE CategoryID = @0";
        var productinfo = db.Query(productquery, choice);
        //       check if there are no products for the category
        if (productinfo.Count() == 0)
        {
            //          yes:  message to user
            <p style="color:darkslateblue">There are no products for your selected category.</p>
        }
        else
        {
            //           no: pass selected value to next page
            //passing data via the Url is known as a Get method
            //data is displayed as plain text in the Url
            //the data argument is in a label=value pair
            //data arguments follow the pagename and ?
            //data arguments are separated by the & symbol
            //syntax   pagename.cshtml?label=value[&label=value...]
            //use the Response.Redirect to goto another page
            Response.Redirect("WebGridDisplay.cshtml?cid=" + choice);
        }
    }
}
else
{
    if (catinfo.Count() == 0)
    {
        <p style="color:darkslateblue">There are no category records on file.</p>
    }
}

<form id="theform" method="post">
    <div class="offset-3">
        <label id="lblCategoryList" for="CategoryList">Select Product Category to view:</label>
        &nbsp;&nbsp;
        <select id="CategoryList" name="CategoryList">
            <option value="0">select ...</option>
            @foreach (var item in catinfo)
            {
                //loop through the collection of records in the catinfo
                //create a line (option) for each record in the collection
                //the value attribute will be set to the CategoryID
                //the display text will be set to the CategoryName
                //remember: data access to record properties (columns) is by
                //   a) index    item.[index]
                //   b) property name  item.CategoryID
                <option value="@item.CategoryID">@item.CategoryName</option>
            }
        </select>
        &nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">
            Fetch Products for Category ...
        </button>
    </div>
</form>
