@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "DDL MultiRecord Query");

    var db = Database.Open("NWDB");
    var sqlcommand = @"SELECT CategoryID, CategoryName 
                        FROM Categories
                        ORDER BY CategoryName";
    var catinfo = db.Query(sqlcommand);

}
@section banner{
    <h1>DropdownList Selection Query</h1>
}

@if(IsPost)
{

}
else
{
    if (catinfo.Count() == 0)
    {
        <p style="color:darkslateblue">There are no category records on file.</p>
    }
}

<form id="theform" method="post">
    <div class="offset-3">
        <label id="lblCategoryList" for="CategoryList">Select Product Category to view:</label>
        &nbsp;&nbsp;
        <select id="CategoryList" name="CategoryList">
            <option value="0">select ...</option>
            @foreach(var item in catinfo)
            {
                //loop through the collection of records in the catinfo
                //create a line (option) for each record in the collection
                //the value attribute will be set to the CategoryID
                //the display text will be set to the CategoryName
                //remember: data access to record properties (columns) is by
                //   a) index    item.[index]
                //   b) property name  item.CategoryID
                <option value="@item.CategoryID">@item.CategoryName</option>
            }
        </select>
        &nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">Fetch Products for Category ...</button>
    </div>
</form>
